%% == Erlang Compiler ==

%% Erlang compiler options
%% {erl_opts, [no_debug_info, {i, "myinclude"}, {src_dirs, ["src1", "src2"]},
%%             {platform_define,
%%             "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
%%             {platform_define, "(linux|freebsd)", 'BACKLOG', 128},
%%             {platform_define, "R13", 'old_inets'}]}.
{erl_opts, [
        debug_info,
        warn_obsolete_guard,
        warn_unused_import,
        warn_shadow_vars,
        warn_export_vars,
        warn_export_all,
        {parse_transform, autohelp}
    ]}.


%% == Dependancies ==

%% Where to put any downloaded depandencies. Default is `deps`
{deps_dir, ["deps"]}.

%% What dependancies we have, depandencies can be of 3 forms, an application
%% name as an atom, eg. mochiweb, a name and a version (from the .app file), or
%% an application name, a version and the SCM details on how to fetch it (SCM
%% type, location and revision). Rebar currently support git, hg, bzr and svn.
%% {deps, [application_name,
%%         {application_name, "1.0.*"},
%%         {application_name, "1.0.*",
%%          {git, "git://github.com/basho/rebar.git", {branch, "master"}}}]}.
{deps, [
    {autohelp,     ".*", {git, "git://github.com/stolen/autohelp.git",          {tag, "a6a688a11c3e6923cb4ff7be7b06b349e3ed2cf4"}}},
    {bson,         ".*", {git, "git://github.com/mongodb/bson-erlang.git",      {tag, "17373ef4"}}},
    {mongodb,      ".*", {git, "git://github.com/mongodb/mongodb-erlang.git",   {tag, "bc41adb0"}}}
]}.
